header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cornsilk;
    background-color: blueviolet; block-size: auto;
    height: 180px;
    width: 100%;
    border-bottom: 10px solid rgb(10, 10, 10);
    border-top: 10px solid rgb(10, 10, 10);
}

section {
    width: 70%;
    margin: 20px auto;
    border-bottom: 5px solid rgb(100, 0, 139);
}

.cbrown {
    height: 300px;
    width: 400px;
}

/* .example1 {
    height: 500px;
    width: 865px;
}

.example-app {
    height: 300px;
    width: 430px;

} */


.center-text {
    position: absolute;
    top: 50%;
    bottom: 50%
}



.flex-container {
    display: : flex;
    flex-wrap: wrap
}

.flex-item {
    min-height: 150px;
    max-height: 150px;
    padding: 10px ;
    /* align-items: flex-end; */
    /* display:flex; */
    margin: 20px
}
/* .flex-item:first-child {
    max-height: 300px;
    min-height: 300px;
    flex-basis: 100%;
} */


/* doesn't work right
div.gallery {
    margin: 5px; 
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777; 

}

div.gallery img {
    width: 100%;
    height: auto;

}

div.desc {
    padding: 15px;
    text-align: center;
}

*/
/* not needed? */
nav {text-align: right; display: inline;
}

li {display: inline;}

h2 {font-family: Arial, Helvetica, sans-serif;}

p {font-family: Arial, Helvetica, sans-serif;}