header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cornsilk;
    background-color: blueviolet; block-size: auto;
    height: 180px;
    width: 100%;
    border-bottom: 10px solid rgb(10, 10, 10);
    border-top: 10px solid rgb(10, 10, 10);
}

section {
    width: 70%;
    margin: 20px auto;
    border-bottom: 5px solid rgb(100, 0, 139);
}

.cbrown {
    height: 300px;
    width: 400px;
}


.center-text {
    position: absolute;
    top: 50%;
    bottom: 50%
}



.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    padding: 5px ;
    flex-basis: 45%;
}

.flex-item-full {
    flex-basis: 100%;

    justify-self: center;
}

.flex-item img {
    max-width: 300px;
    max-height: 534px;
}

.flex-item.flex-item-full img{
    max-width: 100%;
    max-height: 391px;

}


/* doesn't work right
div.gallery {
    margin: 5px; 
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777; 

}

div.gallery img {
    width: 100%;
    height: auto;

}

div.desc {
    padding: 15px;
    text-align: center;
}

*/
/* not needed? */
nav {text-align: right; display: inline;
}

li {display: inline;}

h2 {font-family: Arial, Helvetica, sans-serif;}

p {font-family: Arial, Helvetica, sans-serif;}